@using LocalizedSite.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> Shared

@{
    ViewData["Title"] = Shared[ResourceKeys.ContactView_Title];
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="@Localizer[ResourceKeys.ContactView_PhoneTitle]">@Localizer[ResourceKeys.ContactView_PhoneLabel]</abbr>
    425.555.0100
</address>

<address>
    <strong>@Localizer[ResourceKeys.ContactView_SupportLabel]</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@Localizer[ResourceKeys.ContactView_MarketingLabel]</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
